
.actionbar{
    display: flex;
    margin-top: 24px;
    gap: 16px;
    margin-left: 2em;
    width: fit-content;
}

.action_button{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border:1px solid #114B5F;
    border-radius: 2em;
    cursor: pointer;
    transition: 200ms;
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.action_button_active{
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #114B5F;
    border-radius: 2em;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
}