.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 8px;
    padding-left: 32px;
    height: fit-content;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    background-color: white;
    align-items: center;
    z-index: 1000;
  }
  
.title{
    font-size: 24px;
    font-weight: 700;
    margin-left: 16px;
    font-family: 'Outfit', sans-serif;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.dot{
    height: fit-content;
  width: fit-content;
  cursor: pointer;
}