.articles_main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 1em;
}

.article_item{
    border:1px solid #f3efef;
    border-radius: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    max-width: 350px;
    transition: 250ms ;
}

.article_item:hover{
    box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.05);
    border:1px solid white;
}
.article_title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom:6px;
    letter-spacing: 0.8px;
    font-family: 'Roboto Slab', serif;
}

.article_desc{
    font-size: 12px;
    font-weight: 400;
    color: #818181;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.6px;
}

.article_date{
    font-size: 11px;
    margin-top: 16px;
    color: #2B2D42;
    font-weight: 350;
    font-family: 'Roboto Slab', serif;
}

.article_image{
    border-radius:1em 1em 0em 0em;
    overflow: hidden;
}

.article_data{
    padding: 1em;
}