html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  -webkit-tap-highlight-color: transparent;
}


a {
  text-decoration: none;
  color: #114B5F;
  font-weight: 700;
}


li{
  padding: 8px;
}