.slug_root{
    padding: 2em;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Roboto Slab', serif;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .slug_root{
        padding-left: 5%;
        padding-right: 5%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .slug_root{
        padding-left: 10%;
        padding-right: 10%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .slug_root{
        padding-left: 20%;
        padding-right: 20%;
    }
}

.slug_image{
   overflow: hidden;
   width: 640px;
   background-color: red;
}

.slug_root h1{
    font-size: 32px;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 8px;
}

.slug_root img{
    border-radius:1em;
}

.p_top_32{
    margin-top: 2em !important;
    font-size: 18px;
    font-weight: 350;
    letter-spacing: 0.4px;
    line-height: 36px;
    margin: 0;
}

.slug_root p{
    font-size: 18px;
    font-weight: 350;
    color: black;
    letter-spacing: 0.4px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 16px;
}

.slug_root h4{
    font-size: 28px;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 16px;
}

.slug_date{
    margin-bottom: 16px;
    font-size: 14px;
    color: #2B2D42;
}

.slug_root code {
    white-space: pre-wrap;
    font-family: monospace;
    background-color: #002b36;
    color: #fdf6e3;
    border-radius: 1em;
    text-align: start;
    font-size: 15px;
    box-decoration-break: clone;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
}

.markup{
    background: #2B2D42;
  border-radius: 4px;
  padding-left: 2px;
  padding-right: 2px;
  color: white;
  font-family: monospace;
}